@page
@model WebFastFodd.Pages.Home.CrearModel
@{
    ViewData["Title"] = "Registro Usuario";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #df3131;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(251, 200, 200);
    }
</style>
<div class="containtop" style="padding-top: 120px;">

</div>

<div class="container" style="min-height: 500px;">
    <div class="starter-template" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border: 1px solid #c2c2c2; padding:10px">
        <div id="feedback"></div>

        <form class="form-horizontal" id="search-form">
            <div class="row form-group">
                <div class="col-6">
                    <strong style="text-align:center"> INFORMACION DE CLIENTE</strong>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="Nombres" placeholder="Nombres" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="Apellidos" placeholder="Apellidos" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <select id="TipoDocId" class="form-control">
                        <option>Tipo Documento</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="NumeroDocumento" placeholder="Número Documento" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="Numerocelular" placeholder="Número Celular" />
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="Email" placeholder="Email" />
                </div>
            </div>
            <div class="row form-group">

                <div class="col">
                    <input type="password" class="form-control" id="Contrasenia" placeholder="password" />
                </div>
                <div class="col">
                    <input type="password" class="form-control" id="Contrasenia" placeholder="password" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="Direccion" placeholder="Direccion" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="IndAutorizaDato">
                    <label class="form-check-label" for="gridCheck">
                        Autoriza uso de datos
                    </label>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" id="bth-search"
                            class="btn btn-danger btn-sm" onclick="cityClickJQuery();">
                        Crear Cuenta
                    </button>
                    <button type="submit" id="bth-search"
                            class="btn btn-danger btn-sm">
                        Ya tengo una cuenta
                    </button>
                </div>
            </div>
        </form>


    </div>

</div>

@*<div class="container">
        <footer>
            <p>
                © <a href="#">Demo</a> 2017
            </p>
        </footer>
    </div>*@
<script>

    function cityClickJQuery() {
        $.ajax({
            type: "GET",
            url: "http://localhost:60394/FastFoodServiceApi.svc/saludo",
            data: { nombre: 'juan' },
            processData: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data.d);
            }
        });
    }
    $(document).ready(function () {

        $("#search-form").submit(function (event) {
            //cancela la acción del evento para que se haga manualmente
            event.preventDefault();
            //fire_ajax_submit();

        });

    });

    function fire_ajax_submit() {

        var cliente = {
            nombres: $("#Nombres").val(),
            apellidos: $("#Apellidos").val()
        }
        console.log("Objeto JavaScript: ", cliente.nombres);




        $("#btn-search").prop("disabled", true);

        //var url = 'http://localhost:60394/FastFoodServiceApi.svc/'
        $.ajax({
            type: "POST", 
            contentType: 'application/json; charset=utf-8',
            url:  "http://localhost:60394/FastFoodServiceApi/Cliente",
            data: '{"nombre":"juan"}',
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert(1);
                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            },
            error: function (e) {

                alert(10001);

                var json = "<h4>Ajax Response Error</h4><pre>"
                    + e.responseText + "</pre>";
                var d = JSON.parse(e.responseText);
                alert(d.message);
                $('#feedback').html(d.message);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);

            }
        });

    }

</script>