@page
@model WebFastFodd.Pages.Usuariocliente.graciasModel
@{
}

 
<div class="containtop" style="padding-top: 120px;">

</div>

<div class="starter-template" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border: 1px solid #c2c2c2; padding:10px;margin-bottom:10px">
    <p class="text-center">
        <strong>Gracias por usar nuestra aplicación!!!</strong>
        <br />
        Sus datos han sido registrados correctamente
        <br />
        
        <br />
        Para iniciar sesión haga click <a href="/Login/login">aquí</a>

    </p>

</div>