@page
@model WebFastFodd.Pages.ProductosProveedor.CrearPedidoModel
@{
    ViewData["Title"] = "Registrar Pedido";
}
<div style="float:right">
    <a asp-page="/ProductosProveedor/ConfirmarPedido">
        <i class="fa fa-shopping-cart fa-3x" style="color:darkred"></i>
        <br /><small class="text-muted">Ver Carrito</small>
    </a>
</div>
<div class="containtop" style="padding-top: 120px;">


</div>
STARBUCK > Realizar Pedido
<div class="card-deck">
    <div class="card" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);background: #ffffff;border: 1px solid #c2c2c2;padding: 10px;">
        <img class="card-img-top" src="https://www.starbucks.com.pe/media/STBX-CALADOS-96X123-algarrobina_tcm92-46375_w1024_n.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <footer>
                <input type="number" id="nCantidad1" style="width:50px" class="form-control-sm" autofocus />   <button class="btn-danger btn-sm">Agregar</button>
            </footer>
        </div>
    </div>
    <div class="card" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);background: #ffffff;border: 1px solid #c2c2c2;padding: 10px;">
        <img class="card-img-top" src="https://www.starbucks.com.pe/media/MARSHMELLOW_tcm92-46374_w1024_n.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <footer>
                <input type="number" id="nCantidad2" style="width:50px" class="form-control-sm" autofocus />   <button class="btn-danger btn-sm">Agregar</button>
            </footer>
        </div>
    </div>
    <div class="card" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);background: #ffffff;border: 1px solid #c2c2c2;padding: 10px;">
        <img class="card-img-top" src="https://www.starbucks.com.pe/media/STBX-CALADOS-96X123-algarrobina_tcm92-46375_w1024_n.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <footer>
                <input type="number" id="nCantidad3" style="width:50px" class="form-control-sm" autofocus />   <button class="btn-danger btn-sm">Agregar</button>
            </footer>
        </div>
    </div>
    <div class="card" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);background: #ffffff;border: 1px solid #c2c2c2;padding: 10px;">
        <img class="card-img-top" src="https://www.starbucks.com.pe/media/MARSHMELLOW_tcm92-46374_w1024_n.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <footer>
                <input type="number" id="nCantidad4" style="width:50px" class="form-control-sm" autofocus />   <button class="btn-danger btn-sm">Agregar</button>
            </footer>
        </div>
    </div>
</div>
