@page
@model WebFastFodd.Pages.UsuarioProveedor.CrearModel
@{
    ViewData["Title"] = "Registro Proveedor";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #df3131;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(251, 200, 200);
    }
</style>
<div class="containtop" style="padding-top: 120px;">

</div>

<div class="container" style="min-height: 500px;">
    <div class="starter-template" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border: 1px solid #c2c2c2; padding:10px">
        <div id="feedback"></div>
        <form class="form-horizontal" id="search-form">
            <div class="row form-group">
                <div class="col-6">
                    <strong style="text-align:center"> INFORMACION DE PROVEEDOR</strong>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="NumRuc" placeholder="Ruc" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="RazSoc" placeholder="Razón Social" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="DescProducto" placeholder="Descripción Producto" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <select id="departamento" class="form-control">
                        <option>Departamento</option>
                    </select>
                </div>
                <div class="col">
                    <select id="departamento" class="form-control">
                        <option>Provincia</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <select id="distrito" class="form-control">
                        <option>Distrito</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="NomRep" placeholder="Nombre Sede" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="DirSede" placeholder="Dirección Sede" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="NomRep" placeholder="Nombre Representante" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="ApeRep" placeholder="Apellido Representante" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="usuAten" placeholder="Usuario Persona Atención" />
                </div>
                <div class="col">
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <input type="text" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="numerocel" placeholder="Número de celular" />
                </div>
            </div>


            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="IndAutorizaDato">
                    <label class="form-check-label" for="gridCheck">
                        Autoriza uso de datos
                    </label>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" id="bth-search"
                            class="btn btn-danger btn-sm">
                        Crear Cuenta
                    </button>
                    <button type="submit" id="bth-search"
                            class="btn btn-danger btn-sm">
                        Ya tengo una cuenta
                    </button>
                </div>
            </div>
        </form>


    </div>

</div>

@*<div class="container">
        <footer>
            <p>
                © <a href="#">Demo</a> 2017
            </p>
        </footer>
    </div>*@
<script>
    $(document).ready(function () {

        $("#search-form").submit(function (event) {
            //cancela la acción del evento para que se haga manualmente
            event.preventDefault();
            fire_ajax_submit();

        });

    });

    function fire_ajax_submit() {

        var cliente = {
            nombres: $("#Nombres").val(),
            apellidos: $("#Apellidos").val()
        }
        console.log("Objeto JavaScript: ", cliente.nombres);




        $("#btn-search").prop("disabled", true);

        var url = 'http://localhost:60394/FastFoodServiceApi.svc/'
        $.ajax({
            type: "POST",
            //contentType: "application/json",
            contentType: 'application/json; charset=utf-8',
            mode:'cors',
            url: url + "post/cliente",
            data: JSON.stringify(cliente),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            },
            error: function (e) {

                var json = "<h4>Ajax Response Error</h4><pre>"
                    + e.responseText + "</pre>";
                var d = JSON.parse(e.responseText);
                alert(d.message);
                $('#feedback').html(d.message);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);

            }
        });

    }

