@page
@model WebFastFodd.Pages.Pedidos.AgradecimientoModel
@{
    ViewData["Title"] = "Listado de pedidos";
}
<div class="containtop" style="padding-top: 120px;">

</div>

<div class="starter-template" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border: 1px solid #c2c2c2; padding:10px;margin-bottom:10px">
    <p class="text-center">
        <strong>Gracias por usar nuestra aplicación!!!</strong>
        <br />
        Pedido se ha realizado correctamente, su código es : x01o=1
        <br />
        para el día
        10/04/2020 07:30 am
        en nuestra sede Starbuck - Magdalena
        Av. Juan de Aliaga 497, Magdalena del Mar 15076
        <br />
        Para hacer el seguimiento de su pedido haga clic <a href="/UsuarioCliente/mispedidos">aquí</a>

    </p>

</div>