@page
@model WebFastFodd.Pages.Pedidos.AgradecimientoModel
@{
    ViewData["Title"] = "Listado de pedidos";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="containtop" style="padding-top: 120px;">

</div>

<div class="starter-template" style="box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        background: #ffffff;
        border: 1px solid #c2c2c2; padding:10px;margin-bottom:10px">
    <p class="text-center" id="mensaje">




    </p>

</div>

<script>
    function geturlvars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }
    agradecer();
    function agradecer() {
        var datoscomprador = geturlvars()["datoscomprador"];
        var codigopedido = geturlvars()["codigopedido"];
        var Tienda = geturlvars()["Tienda"];
        //datoscomprador = "aaa";
        $('<p>Gracias ' + datoscomprador + ' Por usar nuestra aplicación</p><p>Pedido se ha realizado correctamente, su código es : <strong>' + codigopedido + '</strong> En nuestra tienda ' + Tienda + '<br> Disfrute de su pedido </p > ').appendTo('#mensaje');

    }

</script>