@page
@model WebFastFodd.Pages.Preguntas.IndexModel
@{
}
    <div class="">
        <br />
        <br />
        <h5 class="text-center">PREGUNTAS PREGUNTAS FRECUENTES</h5><br />
        <h5 class="">¿CUÁNDO SERÁ ENVIADO EL CODIGO?</h5> 
        El código llegará a tu correo electrónico en un plazo máximo de 24 horas realizada la compra.

        <h6 class="">
            <br />
            ¿CÓMO VALIDARÁ EL RESTAURANTE MI TRANSACCIÓN?
        </h6>
        El restaurante solicitará el código y tu documento de identidad para considerar la compra como satisfactorio. Recuerda que los códigos son personales e intransferibles y deberá usarse en una sola visita la totalidad del monto adquirido.

        <h6 class="">
            <br />
            ¿CÓMO ME ENTREGARÁN LOS CODIGOS?
        </h6>
        Al realizar la compra en esta página web, te llegará un correo de confirmación al mail proporcionado. En este correo recibirás la confirmación de tu compra, con un código único generado por transacción, que te permitirá consumir el valor aportado en el establecimiento de tu elección
        NO ENCUENTRO EN LA LISTA MI RESTAURANTE FAVORITO

        <h6 class="r">
            <br />
            ¿CÓMO PUEDO PEDIR QUE PARTICIPE?
        </h6>
        Si aún no está en nuestro listado, se estará actualizando en el trascurso de la semana
    </div>