@page
@model WebFastFodd.Pages.Nosotros.IndexModel
@{
}
    <div class="">
        <br />
        <br />
        <h5>Nosotros</h5>
        Gracias y ¡Buen Provecho!
        Los peruanos hemos demostrado que nuestra gastronomía nos une, y que en las mesas de los restaurantes hemos forjado las bases de nuestro orgullo.

        Sabemos que este año es complicado por el COVID-19, pero enfrentándolo unidos, podremos volver a demostrar que los sabores unen a los peruanos.

        Fast Food te invita a apoyar a nuestros restaurantes. Y por eso, ha creado esta plataforma para que todos sigamos disfrutando alrededor de una mesa, y podamos abrazar a la familia de los restaurantes, que nos han dado tantas alegrías y pusieron al Perú en la mira del mundo.

        Gracias y ¡Buen Provecho!
    </div>