@page
@model WebFastFodd.Pages.Politicas.protecciondatosModel
@{
}
    <div class="">
        <h5 class="text-center"><br />
            LEGISLACIÓN APLICABLE
        </h5>
        La presente política se rige por lo dispuesto en la legislación vigente sobre protección de los Datos Personales, Ley 29733, y demás normas que las modifiquen, deroguen o sustituyan.<br />
        <h5>VIGENCIA</h5><br />
        Esta Política de Protección de Datos Personales está vigente desde el 30 de julio de 2019<br />
        <h5>CAMBIOS Y ACTUALIZACIONES</h5>
        FAST FOOD se reserva el derecho a modificar la presente Política de Privacidad y Protección de Datos Personales, con el objeto de adaptarla a cambios legislativos o jurídicos dentro del marco de la Ley de Protección de Datos. Es responsabilidad del usuario mantenerse informado acerca de la Política de Privacidad y Protección de Datos Personales vigente cada vez que hace uso de este portal.<br />
        <h5>PREGUNTAS FRECUENTES</h5>
        <br />
        <h5>¿Qué son datos personales?</h5>
        Es toda información de una persona natural que la identifica o la hace identificable, como por ejemplo, nombre, apellido, nacionalidad, estado civil, documento de identidad, ocupación, estudios, domicilio, correo electrónico, teléfono, estado de salud, actividades que realiza, ingresos económicos, patrimonio, gastos, entre otros, así como la referida a los rasgos físicos y/o de conducta que lo identifican o lo hacen identificable como la huella dactilar, voz, imagen, etc.<br />
        ¿Cuáles son los Derechos del Titular de Datos Personales?<br />
        Los derechos de los titulares de datos personales definidos por la ley son:<br />
        • Derecho de Información: Es el derecho del titular del dato personal (en adelante, el interesado) a ser informado en forma detallada, sencilla, expresa e inequívoca, sobre la finalidad para la que sus datos personales son tratados; quienes son o pueden ser sus destinatarios, la existencia del banco de datos en que se almacenan, así como la identidad y domicilio de su titular y, de ser el caso, del encargado de tratamiento de sus datos personales; la transferencia de los datos personales; el tiempo durante el cual se conservan sus datos personales; y la posibilidad de ejercer los derechos que la ley concede y los medios previstos para ello. Así pues, el objetivo es comunicar al titular del dato las condiciones bajo las que se realizan sus tratamientos, de forma análoga al momento en el que se obtiene su consentimiento.<br />
        • Derecho de Acceso: Es el derecho del interesado a conocer la información sobre sí mismo que es objeto de tratamiento en los bancos de datos de la Institución, la forma en la cual sus datos fueron recopilados, las razones que motivaron tal recopilación y a solicitud de quien se realizó la recopilación, así como las transferencias realizadas o que se prevén hacer de ellos. De esta forma, el objetivo es proporcionar al titular del dato la información relativa a sus datos personales, así como todas las condiciones y generalidades del tratamiento de los mismos.<br />
        • Derecho de Rectificación (Actualización / Inclusión): Es el derecho del interesado a solicitar la modificación de sus datos contenidos en bancos de datos cuando éstos resulten inexactos, erróneos, falsos o incompletos, o bien sean inadecuados o excesivos, o en su caso se hayan omitido o eliminados, siendo relevantes para el adecuado tratamiento de los mismos.<br />
        • Derecho Cancelación (Supresión): Es el derecho del interesado a solicitar la supresión o cancelación de sus datos personales de un banco de datos cuando éstos hayan dejado de ser necesarios o pertinentes para la finalidad para la cual hayan sido recopilados, cuando hubiere vencido el plazo establecido para su tratamiento, cuando haya revocado su consentimiento para el tratamiento de los mismos y en los demás casos en los que sus datos no estén siendo tratados conforme a la Ley y su Reglamento.<br />
        • Derecho de Oposición: Es el derecho del interesado a que no se lleve a cabo el o algún tratamiento de sus datos personales o se cese en el mismo, cuando no hubiere prestado su consentimiento para su recopilación por haber sido tomados de fuente de acceso al público o cuando habiendo prestado su autorización o consentimiento cuenta con motivos fundados y legítimos que justifiquen el ejercicio de este derecho, siempre que por una ley no se disponga lo contrario.<br />
        ¿Dónde puedes encontrar más información sobre la protección de los datos personales?
        En las oficinas de la Dirección General de Protección de Datos Personales del Ministerio de Justicia, o ingresando al siguiente link http://www.minjus.gob.pe/proteccion-de-datos-personales/
    </div>