@page
@model WebFastFodd.Pages.Politicas.terminosModel
@{
}


    <div class="">
        <h5 class="text-center">TÉRMINOS Y CONDICIONES</h5>
        RESUMEN DE TÉRMINOS Y CONDICIONES
        Promoción válida a nivel nacional para mayores de 18 años. Desde el 06/04/2020 hasta agotar fondo tope establecido para la contribución a restaurantes. Agotado este monto, la plataforma seguirá en funcionamiento para la compra de cupones de consumo.

        TÉRMINOS Y CONDICIONES PARA GENERALES PARA EL CONSUMIDOR FINAL Y EL ESTABLECIMIENTO
        1. Esta promoción está abierta a residentes de Perú de 18 años o más.<br />
        2. El promotor alienta al consumo responsable y dirige a los consumidores a leer para obtener mayor información.<br />
        3. Periodo de la promoción: Desde las 00:00 del 01/04/2020.<br />
        4. El canje de la promoción se extenderá hasta la fecha en que se levanten las reglas de distanciamiento social y se vuelvan a abrir los restaurantes. Al ser la fecha de levantamiento tentativa no se cuenta con un periodo exacto.<br />
        5. La compra será entregada en su totalidad al establecimiento elegido y el promotor igualará la compra para el establecimiento<br />
        6. Los consumidores tienen dos opciones a elegir en la compra.<br />
        · El cupón es válido para usarse en una sola visita al establecimiento, donde deberá consumirse en su totalidad.<br />
        · No habrá reembolsos disponibles por ninguna compra realizada, aun en el caso de que el restaurante o bar elegido no abra nuevamente luego del distanciamiento social.<br />
        · Los participantes e invitados deben cumplir los términos y condiciones relevantes que forman parte de la promoción, así como los establecimientos.<br />
        · Si un participante o un invitado actúa de manera peligrosa para sí mismo, o el público o a criterio del restaurante causa molestias en los demás asistentes, se le puede exigir salir del mismo.<br />
        7. Los cupones no serán reembolsables, transferibles o intercambiables y no pueden canjearse por un valor monetario ni por ninguna otra forma de compensación<br />
        12. El promotor se reserva el derecho de rechazar compras o no igualarla cuando en su opinión:<br />
        · Infringe los términos y condiciones establecidos<br />
        · Mención o reflexión negativa sobre el nombre, la reputación o buena voluntad tanto del promotor como cualquier establecimiento<br />
        · Promueve movimientos políticos<br />
        · Están vinculados a cualquier actividad sospechosa o fraudulenta que busque abusar de la buena voluntad de la promoción<br />
        13. El promotor se reserva el derecho de descalificar a cualquier persona que altere el proceso de participación o no cumpla con los términos y condiciones; o de cancelar, modificar o suspender la promoción.<br />
        14. El promotor junto con las agencias y compañías asociadas, no serán responsables de ninguna pérdida (incluidas, entre otras, pérdidas indirectas, especiales o consecuentes o pérdidas de ganancias), gastos o daños sufridos (ya sea que surjan o no por negligencia de cualquier persona) en relación con esta promoción o al aceptar usar el cupón, exceptuando las responsabilidades que no puedan ser excluidas por ley. Nada excluirá la responsabilidad de promotor por muerte o lesiones personales como como resultado de<br />
        <br />
        <h5>TÉRMINOS Y CONDICIONES DEL CONSUMIDOR FINAL</h5><br />
        1. Para participar:<br />
        · Debe tener al menos 18 años cumplidos.<br />
        •	Ingrese en www.fastfood.com y seleccione el establecimiento receptor elegido de la lista verificada y creada por el promotor.<br />
        2. Podrá realizar la transacción en el establecimiento elegido con el cupón que será enviado por correo electrónico una vez realizada la transacción<br />
        3. No es posible transferir la compra a otro establecimiento<br />
        4. No hay un número máximo de compras por persona, sin embargo, todas las transacciones deben hacerse de acuerdo con estos términos y condiciones.<br />
        6. No se asumirán responsabilidades por cupones que se pierdan, corrompan, dañen, retrasen, sean mal dirigidos, sean presentados a un establecimiento no elegido, estén incompletas o que no puedan canjearse por motivos técnicos. La prueba de envío no será aceptada como prueba de recibo.<br />

    </div>