@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
  /*Angel Calderon*/
<form method="post">
    Name:
    <input asp-for="PedidoFastFood.CodigoPedido" />
    <input type="submit" />
</form>
